body {
  background-color: #282c34;
  color: white;
  padding: 0px;
  font-family: Arial;
  text-align: center;
}

.smallbutton {
    border: darksalmon;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 1px 2px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.smallbutton:hover {
    background-color: darksalmon;
    color: black;
  }

  /*
.optionclump {
    width: 100px; 
    float: left; 
    height: 100px;
    margin: 10px
}
*/

.altchat {
    width: 200px; 
    float: left; 
    height: 100px;
    margin: 10px
}

.streamerchat {
    width: 150px; 
    float: left; 
    height: 100px;
    margin: 10px
}

.widthoptions {
    width: 300px; 
    float: left; 
    height: 100px;
    margin: 10px
}

.twitchoptions {
    width: 200px; 
    float: left; 
    height: 100px;
    margin: 10px
}

.miniplayeroptions {
    width: 200px; 
    float: left; 
    height: 100px;
    margin: 10px
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }